{{extend 'layout.html'}}
<h3>Miscellaneous:</h3>

<b>(1) Snake bites:</b>
 
We have few species of snakes on campus, and at least two of them are highly poisonous (Cobra and Viper). One of the frequent questions that is asked by someone who spots one is that “Why don’t we store anti-venom in the health center and use in case of snake bites?”. This is not possible for various reasons. Both the nearby hospitals, Continental and Himagiri treat snake bites. The key is DON’T PANIC.
</p>
<p align="justify">
If you spot a snake and it is near the living area, keep track of the snake without disturbing it, and call Friends of Snakes (http://friendsofsnakes.org.in), they will rescue (call: +91 8374233366 - this is a 24x7 hotline).
</p>
<p align="justify">
See the following link: http://www.wikihow.com/Survive-Being-Bitten-by-a-Venomous-Snake
</p>
</body>
</html>
